@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 25% 5%;

    --card: 228 33% 97%;
    --card-foreground: 240 25% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 25% 5%;

    --primary: 239 84% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 239 84% 65%;

    --muted: 228 33% 97%;
    --muted-foreground: 240 7% 44%;

    --accent: 228 33% 97%;
    --accent-foreground: 240 25% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --border: 232 25% 93%;
    --input: 232 25% 93%;
    --ring: 239 84% 65%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
